@model ThoiKhoaBieu.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="row">
    <div class="col-lg-10">
        <h2 class="page-header" style="text-align: center;">@ViewBag.Title</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-primary">
            <div class="panel-body">
                <section>
                    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new {role = "form", id = "MainForm"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        <div class="row form-group">
                            <div class="col-lg-3">@Html.LabelFor(m => m.OldPassword)</div>
                            <div class="col-lg-7">
                                @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-3">@Html.LabelFor(m => m.NewPassword)</div>
                            <div class="col-lg-7">
                                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-3">@Html.LabelFor(m => m.ConfirmPassword)</div>
                            <div class="col-lg-7">
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-5 col-lg-offset-3" style="margin-top: 1cm;">
                                <input value="Đổi mật khẩu" onclick="ChangePasswordClick()" class="btn btn-lg btn-success btn-block"/>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    function ChangePasswordClick() {
        var $form = $("#MainForm");
        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function(xhr, status, error) {
                alert("fail");
            },
            success: function(response) {
                if (response === "Error")
                    swal({
                        title: "!",
                        text: "Có lỗi xảy ra, không thể đổi mật khẩu!",
                        type: "error"
                    });
                else if (response === "OK") {
                    swal({
                            title: "!",
                            text: "Thành công",
                            type: "success"
                        },
                        function() {
                            window.location.href = @Url.Action("Index", "Home");
                        });
                    window.location.href = @Url.Action("Index", "Home");
                }
                $('body').addClass('loaded');
            }
        });
    }
</script>