@using ThoiKhoaBieu.Models
@model LoginViewModel
@{
    ViewBag.Title = "Trang web thời khóa biểu";
}

<h2 style="text-align: center;">@ViewBag.Title</h2>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Đăng nhập</h3>
                </div>
                <div class="panel-body">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email)})
                                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password)})
                                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})

                            </div>

                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </label>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Đăng nhập" class="btn btn-lg btn-success btn-block"/>
                            </div>
                            <p>
                                @Html.ActionLink("Tạo tài khoản mới", "Register")
                            </p>

                            <p>
                                @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                            </p>
                        }
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>