@model ThoiKhoaBieu.Models.RegisterViewModel
@{
    ViewBag.Title = "Trang web thời khóa biểu";
}

<h2 style="text-align: center;">@ViewBag.Title</h2>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Đăng ký tài khoản</h3>
                </div>
                <div class="panel-body">
                    <section id="registerForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder=@Html.DisplayNameFor(m=>m.Email) })
                                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                            </div>

                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
                                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                            </div>

                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.DropDownListFor(m => m.Role, (SelectList) ViewBag.Name)
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Đăng ký" class="btn btn-lg btn-success btn-block"/>
                            </div>
                            
                        }
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>